body, h1, p, span{
    margin: 0;
}

html {
    width: 100%;
    margin: 0;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNovaThin/ProximaNovaT-Thin.eot');
    src: url('fonts/ProximaNovaThin/ProximaNovaT-Thin.ttf') format('truetype');
}


.header {
    width: 100%;
    height: 273px;
    left: 0px;
    background: url(images/header_background.png) no-repeat;  
    background-size: 100%;
}

@media screen and (min-width: 1920px) {
    .header, .smoke {
        height: 1070px;
    }
}

@media screen and (min-width: 1660px) and (max-width: 1919px){
    .header, .smoke {
        height: 925px;
    }
}

@media screen and (min-width: 1440px) and (max-width: 1659px){
    .header, .smoke {
        height: 801px;
    }
}

@media screen and (min-width: 1366px) and (max-width: 1439px){
    .header, .smoke {
        height: 760px;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1365px){
    .header, .smoke {
        height: 712px;
    }
}

@media screen and (min-width: 960px) and (max-width: 1279px){
    .header, .smoke {
        height: 531px;
    }
}

@media screen and (min-width: 720px) and (max-width: 959px){
    .header, .smoke {
        height: 396px;
    }
}

.header h1 {
    position: relative;
    left: 62%;
    top: 111px;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 250;
    font-size: 100px;
    line-height: 122px;
    color: #FFFFFF;
}

@media screen and (max-width: 1920px) {
    .header h1 {
        left: 62%;
        top: 111px;
        font-size: 100px;
        line-height: 122px;
    }
}

@media screen and (max-width: 1660px) {   
    .header h1 {
        left: 61%;
        top: 80px;
        font-size: 85px;
        line-height: 122px;
    }
}

@media screen and (max-width: 1440px) {   
    .header h1 {
        left: 61%;
        top: 70px;
        font-size: 75px;
        line-height: 122px;
    }
}

@media screen and (max-width: 1366px) {   
    .header h1 {
        left: 62%;
        top: 65px;
        font-size: 65px;
        line-height: 122px;
    }
}

@media screen and (max-width: 1281px) {   
    .header h1 {
        left: 62%;
        top: 55px;
        font-size: 50px;
        line-height: 122px;
    }
}

.main, .header, .smoke{
    overflow: hidden;
}

.smoke {
    width: 100%;
    height: 1080px;
    background: url(images/smoke1.png) no-repeat;
    background-size: 100%;
}

.header p {
    position: relative;
    top: 100px;
    left: 71%;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 250;
    font-size: 25px;
    line-height: 30px;  
    color: #FFFFFF;
}

@media screen and (max-width: 1920px) {   
    .header p {
        top: 100px;
        font-size: 25px;
    }
}

@media screen and (max-width: 1660px) {   
    .header p {
        top: 54px;
        font-size: 22px;
    }
}

@media screen and (max-width: 1440px) {   
    .header p {
        top: 45px;
        font-size: 20px;
    }
}

@media screen and (max-width: 1366px) {   
    .header p {
        top: 32px;
        font-size: 17px;
    }
}

@media screen and (max-width: 1281px) {  
    .header p {
        top: 15px;
        font-size: 15px;
    }
}

.header span {
    position: relative;
    width: 204px;
    left: 70%;
    top: 100px;
    border: 1px solid #FF5A5A;
    display: inline-block;
}

@media screen and (max-width: 1920px) {   
    .header span {
        top: 96px;
        left: 69.4%;
    }
}

@media screen and (max-width: 1660px) {   
    .header span {
        top: 48px;
        left: 68.3%;
    }
}

@media screen and (max-width: 1440px) {   
    .header span {
        top: 38px;
        left: 67%;
    }
}

@media screen and (max-width: 1366px) {   
    .header span {
        top: 23px;
        left: 67%;
    }
}

@media screen and (max-width: 1281px) {  
    .header span {
        top: 3px;
        left: 66.5%;
    }
}

@media screen and (max-width: 1200px) {  
    .header span {
        top: 3px;
        left: 65.5%;
    }
}

@media screen and (max-width: 990px) {  
    .header span {
        top: 3px;
        left: 64.5%;
    }
}

.main_left_side {
    width: 50%;
    max-width: 960px;
    height: 1080px;
    background: url(images/be_a_member_black.png) no-repeat;
    float: left;

}

.main_right_side {
    width: 50%;
    max-width: 960px;
    height: 1080px;
    background: url(images/need_a_website_black.png) no-repeat;
    float: left;
}

.main h2, .main_right_side_3 h2{
    position: relative;
    text-align: center;
    top: 68.5%;

    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 73px;
    
}

.main_right_side_3 h2 {
    filter: blur(5px);
}

.main_right_side_3 h2:hover {
    filter: blur(0px);
}

.main a, .main_2 a{
    color: #FFFFFF;
    text-decoration: none;
}

.main_left_side_2 {
    width: 50%;
    max-width: 960px;
    height: 1080px;
    background: url(images/be_a_member2.png) no-repeat;
    float: left;

}

.main_right_side_3 {
    width: 50%;
    max-width: 960px;
    height: 1080px;
    position: relative;
    float: left;
}

.main_right_side_3::before {
    content: '';
    position: absolute; /* Фиксируем на одном месте */
    left: 0; right: 0; /* Вся ширин */
    top: 0; bottom: 0; /* Вся высота */
    z-index: -1; /* Фон ниже текста */
    /* Параметры фона */
    background: url(images/need_a_website_black.png) no-repeat;
    filter: blur(5px); /* Размытие */
}

.gray_background {
    width: 100%;
    height: 1080px;
    background: rgba(0, 0, 0, 0.4);
    float: left;
}

.main_left_side_2 h2{
    position: relative;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 27px;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 73px;
}

.main_2 p {  
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 61px;
    text-align: center;  
    color: #FFFFFF;
}

button.scroll_down {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 59px;
    width: 59px;
    bottom: 53px;
    background-color: transparent;
    border: solid #FFFFFF; 
    border-width: 0 2px 2px 0;
    cursor: pointer;
    outline: none;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    display: inline-block;
    padding: 3px;
}