body, h1, p, ul, li, span{
    margin: 0;
}

* {
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    background-color: #202020;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNovaThin/ProximaNovaT-Thin.eot');
    src: url('fonts/ProximaNovaThin/ProximaNovaT-Thin.ttf') format('truetype');
}

.header, .footer_1, .footer_2{
    background: url(images/header_background.png) no-repeat;  
}

.smoke {
    background: url(images/smoke1.png) no-repeat;
}
.header, .smoke, .main_2, .main_3, .footer_1, .footer_2 {
    width: 100%;
    height: 100vh;   
}
@media (min-aspect-ratio: 8/5) { 
    .header, .smoke, .footer_1, .footer_2 {
        background-size: cover;
    }
}
@media (min-aspect-ratio: 16/10) and 
       (min-aspect-ratio: 16/9) and
       (min-aspect-ratio: 15/10) and
       (min-aspect-ratio: 15/9) and
       (min-aspect-ratio: 7/4) {
    .header, .smoke, .footer_1, .footer_2{
        background-size: 100%;
    }
}

.header_logo {
    position: relative;
    width: max-content;
    left: 60.94%;
    top: 10.28%;
    height: 147px;
}

@media screen and (max-width: 1920px) { .header_logo { height: 147px; }}
@media screen and (max-width: 1660px) { .header_logo { height: 147px; }}
@media screen and (max-width: 1440px) { .header_logo { height: 147px; }}
@media screen and (max-width: 1366px) { .header_logo { height: 114px; }}
@media screen and (max-width: 1280px) { .header_logo { height: 105px; }}
@media screen and (max-width: 959px) { .header_logo { height: 98px; }}
@media screen and (max-width: 719px) { .header_logo { height: 98px; }}

.delay-0_5s {animation-delay: 500ms;}
.delay-1_5s {animation-delay: 1500ms;}

#scroll_down, #scroll_up {
    animation-delay: 2500ms;

}


.header_logo h1 {
    color: #FFFFFF;
    font-family: Proxima Nova;
    font-size: 100px;
    line-height: 122px;
    font-style: normal;
    font-weight: 250;
    height: 0;
}

.header_logo p {
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    position: relative;
    top: 74.83%;
    height: 0;

}

.header_logo span {
    position: relative;
    width: 38.06%;
    height: 0px;
    left: 30.97%;
    top: 100%;
    display: block;
    border: 0.5px solid #FF5A5A;
}


@media screen and (max-width: 1920px) {
    .header h1 {
        font-size: 100px;
        line-height: 122px;
    }
}

@media screen and (max-width: 1660px) {   
    .header h1 {
        left: 61%;
        top: 80px;
        font-size: 85px;
        line-height: 122px;
    }
}

@media screen and (max-width: 1440px) {   
    .header h1 {
        left: 61%;
        top: 70px;
        font-size: 75px;
        line-height: 122px;
    }
}

@media screen and (max-width: 1366px) {   
    .header h1 {
        left: 62%;
        top: 65px;
        font-size: 65px;
        line-height: 122px;
    }
}

@media screen and (max-width: 1281px) {   
    .header h1 {
        left: 62%;
        top: 55px;
        font-size: 50px;
        line-height: 122px;
    }
}

.main, .header, .smoke{
    overflow: hidden;
}

.header p {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 250;
    color: #FFFFFF;
}

@media screen and (max-width: 1920px) { .header p { font-size: 25px; }}
@media screen and (max-width: 1660px) { .header p { font-size: 22px; }}
@media screen and (max-width: 1440px) { .header p { font-size: 20px; }}
@media screen and (max-width: 1366px) { .header p { font-size: 17px; }}
@media screen and (max-width: 1281px) { .header p { font-size: 15px; }}

button {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 59px;
    width: 59px;
    background-color: transparent;
    border: solid #FFFFFF; 
    border-width: 0 2px 2px 0;
    cursor: pointer;
    outline: none;
    display: inline-block;
    padding: 29px;
    
}

button.head_scroll_down {
    top: calc(100vh - 95px);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

button.h2_scroll_down {
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    position: relative;
    text-align: center;
    top: 68.5%;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 73px;
    display: contents;
    cursor: pointer;
}

button.main_scroll_up {
    top: calc(100vh + 53px);
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
}

button.main_2_scroll_up {
    top: calc(200vh + 53px);
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
}

button.main_3_scroll_up {
    top: calc(300vh + 53px);
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
}

button.footer_1_scroll_up {
    top: calc(500vh - 95px);
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

button.footer_2_scroll_up {
    top: calc(600vh - 95px);
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);

}

@media screen and (max-width: 1920px) {
    button.scroll_down {
        height: 59x;
        width: 59px;
    }
}

@media screen and (max-width: 1660px) {   
    button.scroll_down {
        height: 55px;
        width: 55px;
    }
}

@media screen and (max-width: 1440px) {   
    button.scroll_down {
        height: 50px;
        width: 50px;
    }
}

@media screen and (max-width: 1366px) {   
    button.scroll_down {
        height: 46px;
        width: 46px;
    }
}

@media screen and (max-width: 1280px) {   
    button.scroll_down {
        height: 42px;
        width: 42px;
    }
}

@media screen and (max-width: 959px) {   
    button.scroll_down {
        height: 38px;
        width: 38px;
    }
}

@media screen and (max-width: 719px) {   
    button.scroll_down {
        height: 35px;
        width: 35px;
    }
}
/***************************************************************************************************/
.main_left_side, .main_right_side,
.main_left_side_2, .main_right_side_2,
.main_left_side_3, .main_right_side_3 {
    width: 50%;
    height: 100vh;
    float: left;
    overflow: hidden;
}

.main_left_side {
    background: url(images/be_a_member_black.png) no-repeat center;
    background-size: cover;
}

.main_right_side {
    background: url(images/need_a_website_black.png) no-repeat center;
    background-size: cover;
}

/****************************************************************************************************/
.main h2, .main_2 .bottom_h2, .main_3 h2 {
    position: relative;
    text-align: center;
    top: 68.5%;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 73px;  
}

.main_left_side_2 h2, .main_right_side_3 h2{
    top: 13.89%;
    text-align: center;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 73px;
    margin: 0;
    height: 0;
    position: relative;
}


.main_2 p, .main_3 p {  
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 61px;
    text-align: center;  
    color: #FFFFFF;
    top: 23.15%;
    position: relative;
    cursor: pointer;
}

.footer_1, .footer_2 {
    color: #FFFFFF;
}

.footer_1 ul {
    list-style: none;
}

.footer_left_side, .footer_right_side {
    width: 50%;
    float: left;
    text-align: left;
    height: 100vh;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 250;
}

.footer_left_side h2 {
    position: relative;
    height: 0;
    left: 17%;
    top: 13.33%;
    font-weight: 250;
    font-size: 50px;
    line-height: 61px;
    margin: 0;
}

.footer1_list {
    position: relative;
    width: 594px;
    height: 735px;
    left: 26%;
    top: 22.6%;
    font-size: 40px;
    line-height: 49px;
}

.footer2_list {
    position: relative;
    width: 594px;
    height: 735px;
    left: 26%;
    top: 22.6%;
    font-size: 50px;
    line-height: 61px;
}

.footer_right_side .contacts {
    position: relative;
    width: 55%;
    height: 0;
    left: 14.17%;
    top: 22.6%;
    /* font-size: 40px;
    line-height: 49px; */
}

.footer_logo {
    position: relative;
    width: max-content;
    left: 14.17%;
    top: 77.04%;
    height: 13.61%;
}

.footer_logo h1 {
    font-size: 100px;
    line-height: 122px;
    font-style: normal;
    font-weight: 250;
    height: 0;
}

.footer_logo p {
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    position: relative;
    top: 74.83%;
    height: 0;

}

.footer_logo span {
    position: relative;
    width: 38.06%;
    height: 0px;
    left: 30.97%;
    top: 100%;
    display: block;
    border: 0.5px solid #FF5A5A;
}

@media screen and (min-width: 1920px)  {
    .main h2, .main_2 .bottom_h2, #frame2_1, #frame3_1, #frame3_2 { font-size: 75px; }
    .main_2 p, .main_3 p {
        font-size: 55px;
    }
    .contacts {
        font-size: 44px;
        line-height: 54px; 
    }
}  
@media screen and (max-width: 1920px)  {
    .main h2, .main_2 .bottom_h2, #frame2_1, #frame3_1, #frame3_2 { font-size: 60px; }
    .main_2 p, .main_3 p {
        font-size: 50px;
        line-height: 60px;
    }
    .contacts {
        font-size: 40px;
        line-height: 49px; 
    }
}  

@media screen and (max-width: 1600px)  {
    .main h2, .main_2 .bottom_h2, #frame2_1, #frame3_1, #frame3_2 { font-size: 52px; }
    .main_2 p, .main_3 p {
        font-size: 42px;
        line-height: 54px;
    }
    .contacts, .footer1_list ul, .footer1_list p {
        font-size: 33px;
        line-height: 40px; 
    }
    .footer_logo {
        top: 75.04%;
    }
    .footer_logo h1 {
        font-size: 83px;
    }
    .footer_logo p {
        top: 80.83%;
        font-size: 25px;
    }
    .footer_logo span {
        top: 112%;
        width: 41%;
        left: 29%;
    }
}  
@media screen and (max-width: 1440px)  {
    .main h2, .main_2 .bottom_h2, #frame2_1, #frame3_1, #frame3_2 { font-size: 51px; }
    .main_2 p, .main_3 p {
        font-size: 35px;
        line-height: 50px;
    }
    .contacts, .footer1_list ul, .footer1_list p {
        font-size: 30px;
        line-height: 40px; 
    }
    .footer_logo {
        top: 73.04%;
    }
    .footer_logo h1 {
        font-size: 75px;
    }
    .footer_logo p {
        top: 80.83%;
        font-size: 25px;
    }
    .footer_logo span {
        top: 112%;
        width: 45%;
        left: 27%;
    }
}  
@media screen and (max-width: 1366px)  {
    .main h2, .main_2 .bottom_h2, #frame2_1, #frame3_1, #frame3_2 { font-size: 39px; }
    .main_2 p, .main_3 p, .footer_1 ul{
        font-size: 33px;
        line-height: 38px;
        top: 26%;
    }
    .contacts, .footer1_list ul, .footer1_list p, .footer2_list p {
        font-size: 28px;
        line-height: 34px; 
    }
    .footer_logo {
        top: 73.04%;
    }
    .footer_logo h1 {
        font-size: 72px;
    }
    .footer_logo p {
        top: 87.83%;
        font-size: 20px;
    }
    .footer_logo span {
        top: 120%;
    }
    .footer_left_side h2 {
        top: 7%;
        font-size: 38px;
        line-height: 54px;
    }
    .footer1_list, .footer2_list {
        top: 22%;
    }
} 
@media screen and (max-aspect-ratio: 4/3) {
    .main h2, .main_2 .bottom_h2, #frame2_1, #frame3_1, #frame3_2 { font-size: 49px; }
    .main_2 p, .main_3 p, .footer_1 ul{
        font-size: 31px;
        line-height: 40px;
    }
    .contacts, .footer1_list ul, .footer1_list p, .footer2_list p  {
        font-size: 26px;
        line-height: 45px; 
    }
    .footer_logo {
        top: 81%;
    }
    .footer_logo h1 {
        font-size: 66px;
    }
    .footer_logo p {
        top: 72%;
        font-size: 20px;
    }
    .footer_logo span {
        top: 100%;
    }
    .footer_left_side h2 {
        top: 11%;
        font-size: 38px;
        line-height: 54px;
    }
    .footer1_list, .footer2_list {
        top: 22%;
    }
}  

@media screen and (max-width: 1280px) and (max-height: 900px)  {
    .main h2, .main_2 .bottom_h2, #frame2_1, #frame3_1, #frame3_2 { font-size: 49px; }
    .main_2 p, .main_3 p, .footer_1 ul {
        font-size: 31px;
        line-height: 40px;
    }
    .contacts, .footer1_list ul, .footer1_list p s{
        font-size: 24px;
        line-height: 24px; 
    }
    .footer2_list p {
        font-size: 25px;
        line-height: 37px;
    }
    .footer_logo {
        top: 73.04%;
    }
    .footer_logo h1 {
        font-size: 66px;
    }
    .footer_logo p {
        top: 85.83%;
        font-size: 20px;
    }
    .footer_logo span {
        top: 120%;
    }
    .footer_left_side h2 {
        top: 9%;
        font-size: 25px;
        line-height: 53px;
    }
}  
@media screen and (max-width: 1024px)  {
    .main h2, .main_2 .bottom_h2, #frame2_1, #frame3_1, #frame3_2 { font-size: 32px; }
    .main_2 p, .main_3 p {
        font-size: 22px;
        line-height: 35px;
    }
    .contacts {
        font-size: 21px;
        line-height: 32px; 
    }
    .footer_logo {
        top: 73.04%;
    }
    .footer_logo h1 {
        font-size: 45px;
    }
    .footer_logo p {
        top: 78.83%;
        font-size: 20px;
    }
    .footer_logo span {
        top: 112%;
        width: 54%;
        left: 23%;
    }
}  
@media screen and (max-width: 719px)  {
    .main h2, .main_2 .bottom_h2, #frame2_1, #frame3_1, #frame3_2 { font-size: 25px; }
    .main_2 p, .main_3 p {
        font-size: 15px;
        line-height: 30px;
    }
    .contacts {
        font-size: 22px;
        line-height: 22px;
    }
} 
/****************************************************************************************************/

.main_right_side_2 h2, .main_left_side_3 h2 {
    filter: blur(2px);
    cursor: pointer;
}

.main_right_side_2 h2:hover, .main_left_side_3 h2:hover {
    filter: blur(0px);
}

.main h2, .main_2 h2, .main_3 h2 {
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

.main_left_side_2 {
    background: url(images/be_a_member2.png) no-repeat center;
    background-size: cover;
}

.main_right_side_2 {
    position: relative;
}

.main_right_side_2::before {
    content: '';
    position: absolute; /* Фиксируем на одном месте */
    left: 0; right: 0; /* Вся ширин */
    top: 0; bottom: 0; /* Вся высота */
    z-index: -1; /* Фон ниже текста */
    /* Параметры фона */
    background: url(images/need_a_website_black.png) no-repeat center;
    background-size: cover;
    filter: blur(5px); /* Размытие */
}

.main_left_side_3 {
    position: relative
}

.main_left_side_3::before {
    content: '';
    position: absolute; /* Фиксируем на одном месте */
    left: 0; right: 0; /* Вся ширин */
    top: 0; bottom: 0; /* Вся высота */
    z-index: -1; /* Фон ниже текста */
    /* Параметры фона */
    background: url(images/be_a_member_black.png) no-repeat center;
    background-size: cover;
    filter: blur(5px); /* Размытие */
}

.gray_background {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    float: left;
}


.main_right_side_3 {
    background: url(images/need_a_website2.png) no-repeat center;
    background-size: cover;
}
/*
.footer_1, .footer_2 {
    color: #FFFFFF;
}

.footer_1 ul {
    list-style: none;
}

.footer_left_side, .footer_right_side {
    width: 50%;
    float: left;
    text-align: left;
    height: 100vh;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 250;
}

.footer_left_side h2 {
    position: relative;
    height: 0;
    left: 17%;
    top: 13.33%;
    font-weight: 250;
    font-size: 50px;
    line-height: 61px;
    margin: 0;
}

.footer1_list {
    position: relative;
    width: 594px;
    height: 735px;
    left: 163px;
    top: 22.6%;
    font-size: 40px;
    line-height: 49px;
}

.footer2_list {
    position: relative;
    width: 594px;
    height: 735px;
    left: 163px;
    top: 22.6%;
    font-size: 50px;
    line-height: 61px;
}

.footer_right_side .contacts {
    position: relative;
    width: 55%;
    height: 0;
    left: 14.17%;
    top: 22.6%;
    font-size: 40px;
    line-height: 49px;
}

.footer_logo {
    position: relative;
    width: max-content;
    left: 14.17%;
    top: 77.04%;
    height: 13.61%;
}

.footer_logo h1 {
    font-size: 100px;
    line-height: 122px;
    font-style: normal;
    font-weight: 250;
    height: 0;
}

.footer_logo p {
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    position: relative;
    top: 74.83%;
    height: 0;

}

.footer_logo span {
    position: relative;
    width: 38.06%;
    height: 0px;
    left: 30.97%;
    top: 100%;
    display: block;
    border: 0.5px solid #FF5A5A;
}

*/